.page {
    background: #FFFFFF;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

:root {
    font-family: 'Roboto';
    font-style: normal;

    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-xl: 36px;

    --color-border: #dee2e6;
    --color-title: #5a5a5a;
    --color-primary: #0D6EFD;
    --color-white: #FFFFFF;
    --color-text: #212529;
    --color-button: #6C757D;
    --color-background: #563D7C;

    --border-radius: 12px;
    --border-btn-radius: 4px;

    --weight-title: 500;
    --weight-text: 400;
}

/* ====================== */
.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    background: var(--color-primary);
    border-radius: calc(var(--border-radius)/2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: blue;
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);
    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

.button {
    display: flex;
    font-size: var(--size-d);
    text-decoration-line: none;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    gap: 80px;
}

.main_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
}

.main_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    color: var(--color-title);
}

.main_heading {
    font-size: var(--size-xl);
    font-weight: var(--weight-title);
    line-height: 120%;
    letter-spacing: -0.8px;
}

.main_text {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    line-height: 170%;
}

.main_button {
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    color: var(--color-white);
    background: var(--color-button);
    border: 1px solid var(--color-button);
    border-radius: var(--border-btn-radius);
    width: 100%;
    max-width: 120px;
    height: 35px;
}

.featured {
    display: flex;
    gap: var(--space-b);
    padding: 0 26px;
    border-bottom: 1px solid var(--color-border);
    padding: 40px 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    width: 33%;
}

.card_image {
    height: 64px;
    width: 64px;
    border-radius: var(--border-radius);
}

.card_title {
    font-size: 24px;
    font-weight: var(--weight-title);
    color: var(--color-text);
    line-height: 16px;
}

.card_text {
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    color: var(--color-text);
    line-height: 170%;
}

.card_button {
    color: var(--color-primary);
    background-color: var(--color-white);
    text-decoration-line: underline;
    
    justify-content: flex-start;
}

.actions {
    display: flex;
    justify-content: space-between;
    background: var(--color-background);
    padding: var(--space-l);
    border-radius: 8px;
}

.actions_content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.actions_heading {
    font-size: 24px;
    font-weight: var(--weight-text);
    color: var(--color-white);
}

.actions_button {
    color: var(--color-text);
    font-size: 20px;
    width: 240px;
    height: 52px;
    border-radius: var(--border-btn-radius);
    background: var(--color-white);
}